* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(25deg, rgba(68, 221, 204, 0.733), rgb(98, 174, 231));
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container {
    max-width: 400px;
    margin: 100px auto 0;
    background: rgba( 0, 0, 0, 0.1);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    border-bottom: 2px solid rgb(74, 228, 74);
    padding-bottom: 10px;
    text-align: center;
}
.main {
    margin-top: 30px;
}
label, input, select, option {
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}
input, select, option {
    padding: 8px;
    border: none;
    outline: none;
}

.calculate-block{
    border-top: 2px solid rgb(74, 228, 74);
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
}
#calculate {
    width: 50%;
    padding: 16px 10px;
    border:none;
    outline:none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: rgb(74, 228, 74);
    font-size: 18px;
    cursor: pointer;
}
#snackbar-wrapper {
    visibility: hidden;
    position:fixed;
    bottom: 60px;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 20px 30px;
    background-color: rgb(74, 228, 74);
    border-radius: 4px;
}
#snackbar-wrapper.show {
    visibility: visible;
}